/* Custom styles */
/* Some stolen from neal.fun/progress */
.progress-left {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.progress-title {
  font-size: 26px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.progress-info {
  font-weight: 700;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-bottom: 10px;
}

progress {
	background-color: #f1f2f6;
	height: 45px;
	border-radius: 5px;
	margin: 0 auto;
	overflow: hidden;
  width: 100%;
}
