/* Custom styles */
/* Some stolen from neal.fun/progress */
progress-left {
  display: "flex";
  justifyContent: "flex-end";
  alignItems: "flex-end";
}

progress-title {
  font-weight: 700;
  font-size: 26px;
}
